html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
  position: absolute;
  transition: all 250ms linear;
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}

.polaroid:first-child {
  left: 30%;
  top: 20%;
  transform: rotate(-12deg);
}

.polaroid:nth-child(2) {
  left: 40%;
  top: 30%;
  transform: rotate(5deg);
  z-index: 10;
}

.polaroid:last-child {
  left: 50%;
  top: 20%;
  transform: rotate(35deg);
}

.polaroid:hover {
  transform: rotate(0deg);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .9);
  z-index: 15;
}
